<div class="form-group">
  <label
    *ngIf="label"
    class="form-label"
    [for]="inputId"
  >
    {{ label }}
  </label>

  <input
    [id]="inputId"
    [type]="type"
    [class]="inputClasses.join(' ')"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    [autocomplete]="autocomplete"
    [attr.aria-invalid]="hasError"
    [attr.aria-describedby]="showError ? inputId + '-error' : (showHint ? inputId + '-hint' : null)"
    (input)="onInputChange($event)"
    (blur)="onInputBlur()"
    (focus)="onInputFocus()"
  />

  <span
    *ngIf="showHint"
    [id]="inputId + '-hint'"
    class="form-hint form-hint--visible"
  >
    {{ hint }}
  </span>

  <span
    *ngIf="showError"
    [id]="inputId + '-error'"
    class="form-error"
    role="alert"
  >
    {{ errorMessage }}
  </span>
</div>
