<app-tab-page-shell-blue
  [title]="pageTitle"
  activeTabId="home"
  [showBack]="true"
  (backClicked)="goBack()">

  <!-- Settings List -->
  <div class="notif-settings">
    @for (setting of settings(); track setting.id) {
      <div class="notif-settings__card">
        <!-- Icon -->
        <div class="notif-settings__icon">
          <span class="material-icons">{{ setting.icon }}</span>
        </div>

        <!-- Text -->
        <div class="notif-settings__text">
          <h3 class="notif-settings__title">{{ setting.titleKey | translate }}</h3>
          <p class="notif-settings__desc">{{ setting.descriptionKey | translate }}</p>
        </div>

        <!-- Toggle Switch -->
        <label
          class="notif-toggle"
          [attr.aria-label]="setting.titleKey | translate">
          <input
            type="checkbox"
            class="notif-toggle__input"
            [checked]="setting.enabled"
            (change)="toggleSetting(setting.id)" />
          <span class="notif-toggle__slider"></span>
        </label>
      </div>
    }
  </div>

</app-tab-page-shell-blue>
