<app-tab-page-shell
  [title]="title"
  backgroundVariant="image"
  [imageName]="imageName"
  [overlayOpacity]="overlayOpacity"
  [showBack]="showBack"
  (backClicked)="onBack()">

  <!-- Header Right: Avatar -->
  <app-avatar-button shellHeaderRight [mode]="avatarMode" />

  <!-- Branding: SENZA logo, solo slot per contenuto custom -->
  <div shellBranding class="shell-fiuto-branding">
    <ng-content select="[shellBrandingExtra]" />
  </div>

  <!-- Sticky Content -->
  <div shellStickyYellow class="shell-fiuto-sticky">
    <ng-content select="[shellStickyContent]" />
  </div>

  <!-- Main Content (default slot) -->
  <ng-content />

  <!-- Footer: Mascot + Tab Bar -->
  <ng-container shellFooter>
    <app-mascot-peek />
    <app-bottom-tab-bar [tabs]="tabs" [activeTabId]="activeTabId" />
  </ng-container>

</app-tab-page-shell>
