<div class="language-switcher">
  <button
    type="button"
    class="language-switcher__button"
    (click)="toggleMenu()"
    (keydown.escape)="closeMenu()"
    [attr.aria-expanded]="menuOpen()"
    aria-haspopup="listbox"
    aria-controls="language-menu">
    <img src="assets/icons/globe.svg" alt="" class="language-switcher__icon" aria-hidden="true" />
    <span class="language-switcher__text">{{ currentLanguage.flag }} {{ currentLanguage.nativeName }}</span>
  </button>

  @if (menuOpen()) {
    <ul
      id="language-menu"
      class="language-switcher__menu"
      role="listbox"
      tabindex="-1"
      (keydown.escape)="closeMenu()">
      @for (language of languages; track language.code) {
        <li class="language-switcher__menu-item">
          <button
            type="button"
            role="option"
            [attr.aria-selected]="language.code === currentLanguage.code"
            (click)="selectLanguage(language)">
            {{ language.flag }} {{ language.nativeName }}
          </button>
        </li>
      }
    </ul>
  }
</div>
